/* * {
  outline: solid 1px red;
} */

body {
  zoom: 110%;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 150%;
  background-position: center bottom;
  background-attachment: fixed;
}

h2 {
  padding-top: 60px;
}

.project-images {
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.bg-nav-foot {
  background-color: rgb(240, 238, 238);
}

.absolute_center {
  width: 800px;
  height: 500px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
