/* * {
  outline: solid 1px red;
} */

body {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.custom_margintop {
  margin-top: 50vh;
}

.project_images {
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.bg_nav_foot {
  background-color: #245dda;
  outline: solid 5px #386de0;
  color: white;
}

.intro_position {
  width: 600px;
  height: 80vh;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.card {
  transition: box-shadow 0.3s ease;
  box-shadow: none;
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.rounded_edges {
  border-radius: 15px;
}

.rounded_top_edges {
  border-radius: 15px 15px 0 0 !important;
}

.very_rounded_edges {
  border-radius: 25px;
}
