body {
  zoom: 110%;
}

h1 {
  padding-top: 60px;
  margin: 0px 0px 25px 0px;
}

h2 {
  padding-top: 60px;
}

.project-images {
  filter: blur(8px);
  -webkit-filter: blur(3px);
}

.bg-nav-foot {
  background-color: rgb(240, 238, 238);
}
